<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<!-- Aktywne połączenie do bazy danych SQL -->
		<add key="ActiveConnection" value="CityCardNEW_STAG" />

		<!-- Ścieżka do katalogu z logami. Używana przez klasę Logger.cs -->
		<add key="LogDirectory" value="D:\BLTrapeze\Logs" />
	</appSettings>

	<connectionStrings>
		<add name="CityCardNEW_STAG"
			 connectionString="Server=10.210.4.110;Database=CityCard;User Id=borowicz;Password=cat.oak.bar.1d30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
